__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
.venv
.env
.env.*
.git
.DS_Store
http_cache
*.sqlite3
data
runtime
logs
backups
**/template/assets/
**/template/assets/**
**/template/bg_html/
**/template/bg_html/**
**/template/icon/
**/template/icon/**
**/template/info_img/
**/template/info_img/**
**/template/jacket/
**/template/jacket/**
**/template/plate/
**/template/plate/**
**/template/frame/
**/template/frame/**
*.ipynb
*.ipynb_checkpoints
.verysync
.env.prod
fortune_out
whateat_pic
chiffon_bot_data
postgres_data
run
stubs
.dockerignore
.gitignore
.fnsync_temp_dir
dev_run
src/submodule/
!src/submodule/
!src/submodule/arcade-helper/
!src/submodule/arcade-helper/**
docker-compose*.yml
!docker-compose*.example.yml
tests
