__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
.venv
.env
.env.*
.git
.DS_Store
http_cache
*.sqlite3
data
runtime
logs
backups
*.ipynb
*.ipynb_checkpoints
.verysync
.env.prod
fortune_out
whateat_pic
chiffon_bot_data
postgres_data
run
stubs
.dockerignore
.gitignore
.fnsync_temp_dir
dev_run
docker-compose*.yml
!docker-compose*.example.yml
tests
